<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
          <h1 class="title pb-4">Secrets are Shown Here.</h1>
        </div>
      <div class="columns is-centered">
        <%= render 'feed' %>
      </div>
    </div>
  </div>
</section>